<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/convo.css" />
    <title>Bubble Effect</title>
  </head>
  <body>
    <div class="main">
      <div class="hamburger">
        <div class="line"></div>
      </div>
      <ul class="naav-links" id="mybtn">
        <li><a href="#">Speak Now Player1</a></li>
      </ul>
      <div class="burger">
        <div class="line"></div>
      </div>
      <div class="naav-links-1" id="mybtn1">
        <li><a href="#">Speak Now Player2</a></li>
      </div>
      <div class="log">
        <!--
        <div class="speaker1">
          <div class="original1">Input in English</div>
          <div class="trans1">मराठी मध्ये आउटपुट</div>
        </div>
        <div class="speaker2">
          <div class="original2">मराठी मध्ये इनपुट</div>
          <div class="trans2">Output in English</div>
        </div> 
        <div class="speaker1">
          <div class="original1">Input in English</div>
          <div class="trans1">मराठी मध्ये आउटपुट</div>
        </div>-->
        <div class="speaker2">
          <div class="original2">मराठी मध्ये इनपुट</div>
          <div class="trans2">Output in English</div>
        </div>
        <div class="speaker1">
          <div class="original1">Input in English</div>
          <div class="trans1">मराठी मध्ये आउटपुट</div>
        </div>
      </div>
    </div>

    <section class="landing"></section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/convo.js"></script>
    <script src="../static/js/translate-client.js"></script>
  </body>
</html>
