<!DOCTYPE html>

    <head>
        <title>Chat App</title>
       <link rel="icon" href="../static/img/favicon.png">
       <link rel="stylesheet" href="../static/css/styles.min.css">
    </head>
    <body>
        <div class="centered-form">
            <div class="centered-form__box">
                <h1>Join</h1>
                <form action="chat.html">
                    <label>Display name</label>
                    <input type="text" name="username" placeholder="Display name" required>
                    <label>Room </label>
                    <input type="text" name="room" placeholder="Room" required>

                    <select name="source_language" class="dropdown">
                        <option value="en">English</option>
                        <option value="de">German</option>
                        <option value="gu">Gujrati</option>
                        <option value="hi">Hindi</option>
                        <option value="kn">Kannada</option>
                        <option value="ml">Malayalam</option>
                        <option value="mr">Marathi</option>
                        <option value="ru">Russian</option>
                        <option value="es">Spanish</option>
                        <option value="ta">Tamil</option>
                        <option value="te">Telugu</option>
                      </select>

                      <select name="res_language" class="dropdown">
                        <option value="en">English</option>
                        <option value="de">German</option>
                        <option value="gu">Gujrati</option>
                        <option value="hi">Hindi</option>
                        <option value="kn">Kannada</option>
                        <option value="ml">Malayalam</option>
                        <option value="mr">Marathi</option>
                        <option value="ru">Russian</option>
                        <option value="es">Spanish</option>
                        <option value="ta">Tamil</option>
                        <option value="te">Telugu</option>
                      </select>

                    <button>Join</button>
                </form>
            </div>
        </div>
    </body>
</html>
