<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="../static/css/learner.css" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Learn</title>
  </head>
  <body data-title="my_learner_page">
    <div id="nav">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Bingo!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="translator.html">Translate </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#"
                >Chat<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="learner.html">Learn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="test.html">Test</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="title">Learn</div>
    <div class="control">
      <div class="my-language">
        I speak
        <select id="my-lang">
          <option value="en">English</option>
          <option value="de">German</option>
          <option value="gu">Gujrati</option>
          <option value="hi">Hindi</option>
          <option value="kn">Kannada</option>
          <option value="ml">Malayalam</option>
          <option value="mr">Marathi</option>
          <option value="ru">Russian</option>
          <option value="es">Spanish</option>
          <option value="ta">Tamil</option>
          <option value="te">Telugu</option>
        </select>
        learning
        <select id="learn-lang">
          <option value="en">हिंदी</option>
          <option value="en">English</option>
          <option value="de">German</option>
          <option value="gu">Gujrati</option>
          <option value="kn">Kannada</option>
          <option value="ml">Malayalam</option>
          <option value="mr">Marathi</option>
          <option value="ru">Russian</option>
          <option value="es">Spanish</option>
          <option value="ta">Tamil</option>
          <option value="te">Telugu</option>
        </select>
      </div>
    </div>
    <div class="container">
      <!-- <div class="panel p1">
        <div class="translation">
          <div class="translated">
            धन्यवाद
            <div class="speaker" id="speakme1">
              <ion-icon name="volume-high"></ion-icon>
            </div>
          </div>
          <div class="pronunciation">dhanyavaad</div>
        </div>
        <div class="origin">Thank you</div>
      </div> -->
      <!-- <div class="panel p2">
        <div class="translation">
          <div class="translated">
            क्या भाव है?
            <div class="speaker" id="speakme2">
              <ion-icon name="volume-high"></ion-icon>
            </div>
          </div>
          <div class="pronunciation">kya bhaav hai?</div>
        </div>
        <div class="origin">What is the cost?</div>
      </div> -->
      <!-- <div class="panel p3">
        <div class="translation">
          <div class="translated">
            क्या आप अंग्रेज़ी बोलते हैं?
            <div class="speaker" id="speakme3">
              <ion-icon name="volume-high"></ion-icon>
            </div>
          </div>
          <div class="pronunciation">kya aap angrezee bolate hain?</div>
        </div>
        <div class="origin">Do you speak English?</div>
      </div>
      <div class="panel p4">
        <div class="translation">
          <div class="translated">
            क्या आप मेरी मदद कर सकते हैं?
            <div class="speaker" id="speakme4">
              <ion-icon name="volume-high"></ion-icon>
            </div>
          </div>
          <div class="pronunciation">kya aap meree madad kar sakate hain?</div>
        </div>
        <div class="origin">Can you help me?</div>
      </div>
      <div class="panel p1">
        <div class="translation">
          <div class="translated">
            माफ़ करना
            <div class="speaker" id="speakme5">
              <ion-icon name="volume-high"></ion-icon>
            </div>
          </div>
          <div class="pronunciation">maaf karana</div>
        </div>
        <div class="origin">Sorry / Excuse Me</div>
      </div>
      <div class="panel p1">
        <div class="translation">
          <div class="translated">
            आपसे मिलकर अच्छा लगा!
            <div class="speaker" id="speakme6">
              <ion-icon name="volume-high"></ion-icon>
            </div>
          </div>
          <div class="pronunciation">aapase milakar achchha laga!</div>
        </div>
        <div class="origin">Nice to meet you!</div>
      </div> -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./static/js/translate-client.js"></script>
    <script src="./static/js/learner_page.js"></script>
  </body>
</html>
