<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./static/css/learner.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Learn</title>
    <style>
      .nav-blue:hover {
        color: var(--blue) !important;
      }

      .nav-purple:hover {
        color: var(--purple) !important;
      }

      .nav-teal:hover {
        color: var(--teal) !important;
      }

      .nav-orange:hover {
        color: var(--orange) !important;
      }
    </style>
  </head>
  <body data-title="my_learner_page">
    <div id="nav">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolled">
        <div class="container-fluid">
          <a class="navbar-brand me-auto" href="/">Bingo!</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="mr-auto"></ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link nav-blue" href="translator.html"
                  >Translate</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link nav-purple" href="chat_join.html">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="learner.html">Practice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-orange" href="test.html">Quiz</a>
              </li>
              <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="title">Learn</div>
    <div class="d-flex justify-content-center">
      <div>
        <div class="my-language">
          <!-- <form> -->
          I speak
          <select onchange="learner()" id="my-lang">
            <option value="en">English</option>
            <option value="de">German</option>
            <option value="gu">Gujrati</option>
            <option value="hi">Hindi</option>
            <option value="kn">Kannada</option>
            <option value="ml">Malayalam</option>
            <option value="mr">Marathi</option>
            <option value="ru">Russian</option>
            <option value="es">Spanish</option>
            <option value="ta">Tamil</option>
            <option value="te">Telugu</option>
          </select>
          learning
          <select onchange="learner()" id="learn-lang">
            <option value="hi">हिंदी</option>
            <option value="en">English</option>
            <option value="de">German</option>
            <option value="gu">Gujrati</option>
            <option value="kn">Kannada</option>
            <option value="ml">Malayalam</option>
            <option value="mr">Marathi</option>
            <option value="ru">Russian</option>
            <option value="es">Spanish</option>
            <option value="ta">Tamil</option>
            <option value="te">Telugu</option>
          </select>
          <!-- <button type="submit">go</button> -->
          <!-- </form> -->
        </div>
      </div>
    </div>

    <div
      class="words_container row"
      style="
        width: fit-content;
        text-align: center;
        justify-content: space-evenly;
      "
    ></div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="./static/js/translate-client.js"></script>
    <script src="./static/js/data.js"></script>
    <script src="./static/js/learner_page.js"></script>
  </body>
</html>
