:root {
  --pink: #ffa3b0;
  --purple: #495ce6;
  --blue: #4285f2;
  --teal: #05bc9e;
  --orange: #ff7004;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

#button_trans {
  margin: 0 1em;
}

.profile-pic {
  background: bisque;
  border-radius: 50%;
  padding: 10px;
}

details:focus,
summary:focus {
  outline: none;
}

.translation {
  color: #888;
}

summary {
  color: rgb(179, 179, 179);
  /* text-transform: uppercase; */
}

.chat_message {
  font-size: 18px;
}

.secondary {
  background: #fff;
  color: #888;
  border: 1px solid #888;
  border-radius: 5px;
  /* max-width: 400px; */
}

.primary {
  border-radius: 5px;
  /* max-width: 400px; */
}

.users {
  text-transform: capitalize;
}

button#back {
    border-radius: 2em;
    padding: 0.5em 1em;
    background: #5f636f;
    font-size: 14px;
}

.secondary:hover {
  border: #6b47b8;
  color: #fff;
}

.trans-button-container {
  margin-right: auto;
}

.trans-button-container button {
  margin-left: 0 !important;
}

#chatroom__title {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
}
#locationbutton {
  border-radius: 50%;
  padding: 7px 12px;
  margin: 0 0.5em 0 0.3em;
  color: #7c5cbf;
  border-color: grey;
}

#locationbutton:hover {
  background-color: white;
  border: 1px solid grey;
  color: #7c5cbf;
}

.bg {
  background-color: #7c5cbf;
  color: white !important;
}

.bg:hover {
  background-color: #7c5cbf !important;
  color: white !important;
}


/* Desktop Only */
@media (min-width: 768px) {
  #back {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}