#button_trans {
  margin: 0 1em;
}

.profile-pic {
  background: bisque;
  border-radius: 50%;
  padding: 10px;
}

details:focus, summary:focus {
    outline: none;
}

.translation {
    color: #888;
}

summary {
    color: rgb(179, 179, 179);
    /* text-transform: uppercase; */
}

.chat_message {
    font-size: 18px;
}

.secondary {
    background: #fff;
    color: #888;
    border: 1px solid #888;
    border-radius: 5px;
    /* max-width: 400px; */
}

.primary {
    border-radius: 5px;
    /* max-width: 400px; */
}

.users {
    text-transform: capitalize;
}

.secondary:hover {
    border: #6b47b8;
    color: #fff;
}

#locationbutton {
    margin: 0 1em;
}

.trans-button-container {
    margin-right: auto;
}

.trans-button-container button {
    margin-left: 0 !important;
}

#chatroom__title {
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
}